@use "modules_scss/_colors.scss" as c;
@use "modules_scss/fonts" as t;

*,
*::before,
*::after {
  margin: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  max-height: 100%;
  max-width: 100%;

  background-color: c.$background-color;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__first-switch-wrapper,
  .first-switch-wrapper {
    height: 100vh;
    width: 100vw;

    &__first-switch {
      height: 30vw;
      width: auto;
      margin: 10vw 40vw 0 15vw;
    }
    &__second-switch {
      height: 20vw;
      width: auto;
      margin: 20vw 30vw 0 15vw;
    }
    &__third-switch {
      height: 40vw;
      width: auto;
      margin-left: 55vw;
    }
  }
  &__throw-mechanics-wrapper,
  .throw-mechanics-wrapper {
    width: 60vw;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: transparent;
    height: auto;
    width: 100vw;
    &__directions,
    .directions {
      background-color: transparent;
      width: 100vw;
      height: auto;
      display: flex;
      justify-content: center;
      &__arrows,
      .arrows {
        width: 100vw;
        height: auto;
        background-color: transparent;
        margin-bottom: 30vw;
      }
    }
  }
  &__snowball {
    height: 20vw;

    width: auto;
    background-color: transparent;
    // animation: snowball-animation 1.2s ease-out 1;
    position: absolute;
    margin: 180vw 50vw 15vw 50vw;

    transform: translateX(-10vw);
    z-index: 100;
  }
}

@keyframes snowball-animation {
  0% {
    height: 20vw;
    margin: 180vw 50vw 15vw 50vw;
  }
  50% {
    height: 30vw;
    // margin: 100vw 50vw 15vw 50vw;
  }
  100% {
    height: 20vw;
    margin: -250vw 50vw 15vw 50vw;
  }
}
