@use "modules_scss/_colors.scss" as c;
@use "modules_scss/_fonts" as t;

*,
*::before,
*::after {
  margin: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media only screen and (min-width: 701px) and (max-width: 1200px) {
  body {
    // max-height: 100%;
    // max-width: 100%;

    background-color: c.$background-color;
    overflow: hidden;
  }

  .main {
    // height: 100vh;
    // width: 100vw;
    width: 100vw;
    height: 75vw;

    position: relative;

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
    overflow: hidden;

    &__text-info-wrapper,
    .text-info-wrapper {
      width: 100vw;
      height: 10vw;

      display: flex;
      position: absolute;
      margin-top: 13vw;

      justify-content: center;

      &__text-info {
        width: 60vw;
        font: t.$h3-font;
        // font-family: t.$descriptions-font;

        text-align: center;

        color: white;
        transition: 0.3s;
        opacity: 0;

        // font-family: program, sans-serif;
        // font-weight: 700;
        // font-style: normal;

        &.active {
          opacity: 1;
        }
        // animation: opacityAnimation 1s ease-in 1s 1;
      }
    }

    &__lamps,
    .lamps {
      display: flex;
      // position: absolute;
      // z-index: -120;
      z-index: 350;
      &__first {
        position: absolute;
        height: 40vw;
        width: auto;
        margin-top: -6vw;

        margin-left: 5vw;
      }
      &__second {
        position: absolute;
        height: 40vw;
        width: auto;
        margin-top: -15vw;

        margin-left: 40vw;
      }
      &__third {
        position: absolute;
        height: 40vw;
        width: auto;
        margin-top: -25vw;

        margin-left: 85vw;
      }
    }
    &__first-switch-wrapper,
    .first-switch-wrapper {
      width: 100vw;
      height: 60vh;

      background-color: transparent;

      &__first-switch {
        height: 12vw;
        width: auto;
        margin: 2vw 5vw 2vw 21vw;
      }
      &__second-switch {
        height: 12vw;
        width: auto;
        margin: 0vw 10vw -10vw 55vw;
      }
      &__third-switch {
        height: 12vw;
        width: auto;
        margin-right: 40vw;
        margin-left: 83vw;
        margin-top: 6vw;
      }
    }
    &__throw-mechanics-wrapper,
    .throw-mechanics-wrapper {
      width: 100vw;

      height: 140vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: transparent;
      // border: 4px green solid;
      justify-items: center;
      margin-top: 28vw;
      position: absolute;
      z-index: 500;

      &__directions,
      .directions {
        width: 28vw;

        background-color: transparent;

        display: flex;
        justify-content: center;
        margin: 10vw 50vw 6vw 50vw;
        transform: translateX(-14vw);

        &__arrows,
        .arrows {
          background-color: transparent;
          height: 10vw;

          &__arrow {
            padding: 2vw;
          }
        }
      }
      &__snowball-wrapper,
      .snowball-wrapper {
        &__text {
          font: t.$descriptions-font-small;
          color: c.$background-color;
          position: absolute;
          z-index: 1005;
          margin: -6vw 50vw 5vw 50vw;
          // cursor: pointer;
          width: fit-content;
          width: 5vw;
          height: 2vw;
          text-justify: center;
          text-align: center;
          transform: translateX(-2.5vw);
          pointer-events: none;
        }
        &__snowball {
          height: 10vw;
          width: 10vw;

          padding: 1vw;
          width: auto;
          background-color: transparent;
          cursor: pointer;

          // animation: snowball-animation 1.2s ease-out 1;
          position: absolute;

          margin: -10vw 50vw 5vw 50vw;
          transform: translateX(-5vw);
          z-index: 1000;
        }
      }
    }
    &__choose-power-wrapper,
    .choose-power-wrapper {
      width: 100vw;
      margin: 17vw 0 2vw 0;
      display: flex;
      flex-direction: row;

      justify-content: center;
      // &__minus {
      //   width: 6vw;
      //   height: 6vw;
      //   height: auto;
      //   margin-top: 2vw;
      //   position: absolute;
      //   transform: translateX(-15vw);
      // }
      &__power-text {
        font: t.$descriptions-font;
        margin: 4vw 0 4vw 0;
        color: white;
      }
      &__power-circle {
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
        color: white;
        border: 0.3vw solid white;
        margin: 0 1vw 0 1vw;
      }
      &__slider {
        margin: 8vw 2vw 5vw 2vw;
        -webkit-appearance: none; /* Override default CSS styles */
        width: 20vw;
        height: 0.5vw;
        border-radius: 50vw;
        background: c.$slider-color;
        outline: none;
        position: absolute;
        z-index: 501;
      }

      &__slider::-moz-range-thumb {
        -webkit-appearance: none;
        width: 2vw;
        height: 2vw;
        // border-radius: 5vw;
        margin-top: 5vw;
        background: c.$snowman-color;
        background-color: transparent;
        background-image: url(./assets/SVG/SVG/ball-slider.svg);
        background-repeat: no-repeat;
        cursor: pointer;
        border: none;
      }
      // &__plus {
      //   transform-origin: bottom center;
      //   width: 6vw;
      //   height: 6vw;
      //   margin-top: 2vw;

      //   position: absolute;
      //   transform: translateX(15vw);
      // }
    }
    &__meltedSnowman,
    .meltedSnowman {
      overflow: hidden;
      display: flex;
      width: 180vw;
      justify-items: center;
      justify-self: center;
      align-items: center;
      position: absolute;
      z-index: 10;
      height: auto;
      margin-top: 72vh;
      margin-left: -60vw;
      overflow: hidden;
    }
  }
}

.notactive {
  display: none;
}
.meltedSnowmanAll {
  height: auto;
  width: 180vw;
}

@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
