@use "modules_scss/_colors.scss" as c;
@use "modules_scss/fonts" as t;

*,
*::before,
*::after {
  margin: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  body {
    max-height: 100%;
    max-width: 100%;

    background-color: c.$background-color;
  }

  .header {
    &__logo-wrapper,
    .logo-wrapper {
      &__logo {
        width: 70vw;
        height: auto;
        margin-top: 15vw;
        margin-left: 10vw;
        z-index: 10;
        position: absolute;
        background-color: transparent;
      }
    }
  }
  .main {
    &__snowman-wrapper,
    .snowman-wrapper {
      &__snowman {
        z-index: 5;
        width: 100vw;
        margin-left: 15vw;
        margin-top: 40vw;
      }
    }
    &__play-btn-wrapper,
    .play-btn-wrapper {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;

      &__play-btn {
        width: 40vw;
        height: auto;
        position: absolute;
        z-index: 20;
        margin-left: -20vw;
        transform: translateX(50vw);

        margin-top: 0vw;
        background-color: transparent;
        border: 1vw solid c.$snowman-color;
      }
    }
    &__backdrop-wrapper,
    .backdrop-wrapper {
      display: flex;
      justify-content: center;
      width: 400vw;
      height: 400vw;
      margin-left: -100vw;
      margin-top: -20vw;
      &__backdrop {
        width: 400vw;
        height: 400vw;
      }
    }
  }
}

body {
  max-height: 100%;
  max-width: 100%;

  background-color: c.$background-color;
}

@media (min-width: 901px) {
  .header {
    &__logo-wrapper,
    .logo-wrapper {
      &__logo {
        width: 30vw;
        height: auto;
        margin: 5vw;
        margin-top: 15vw;
        margin-left: 15vw;
        z-index: 10;
        position: absolute;
        background-color: transparent;
      }
      &__play-btn {
        width: 15vw;
        height: 15vw;
        position: absolute;
        z-index: 20;
        margin-left: 20vw;

        margin-top: 30vw;
        background-color: transparent;
        border: 1vw solid c.$snowman-color;
        font-family: t.$headline-font;
        padding: 2vw 3vw;
        border-radius: 80vw;
        font-size: 1rem;
        color: c.$snowman-color;
      }
    }
  }
  .main {
    &__snowman-wrapper,
    .snowman-wrapper {
      &__snowman {
        // z-index: 120;
        width: 200vw;
        margin-left: -53vw;
        margin-top: 12vw;
      }
    }

    // &__backdrop-wrapper,
    // .backdrop-wrapper {
    //   display: flex;
    //   justify-content: center;
    //   width: 500vw;
    //   height: 500vw;
    //   margin-left: -155vw;
    //   margin-top: -6vw;
    //   &__backdrop {
    //     width: 500vw;
    //     height: 500vw;
    //   }
    // }
  }
}
